<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link href="https://fonts.googleapis.com/css?family=Merriweather:300|Raleway:400,700" rel="stylesheet">
<link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
<link rel="apple-touch-icon" sizes="60x60" href="/assets/favicon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="120x120" href="/assets/favicon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/assets/favicon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/assets/favicon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">

<meta name="description" content="Engineer. Developer. Designer. Entrepreneur. Brother. Soon to be husband. Hit me up on twitter @alekcz or mail me." />
<meta name="keywords" content='engineer, developer, frontend, backend, designer, mentor, angular, vuejs, clojure, clojurescript, nodejs, node, needtyres, alekcz, alex, oloo, alexander '>
<meta name="author" content="Alexander Oloo">
                
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="{{relative_url}}">
<meta name="twitter:title" content="Alexander Oloo">
<meta name="twitter:description" content="Engineer. Developer. Designer. Entrepreneur. Brother. Soon to be husband. Hit me up on twitter @alekcz or mail me.">
<meta name="twitter:creator" content="@alekcz">


<meta property="og:title" content="Alexander Oloo" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{relative_url}}" />
<meta property="og:description" content="Engineer. Developer. Designer. Entrepreneur. Brother. Soon to be husband. Hit me up on twitter @alekcz or mail me." /> 
<meta property="og:site_name" content="Alexander Oloo" />
    
<title>{{ page.title | default: site.title }}</title>
{% seo %}